.ui.main.container
  %h1.ui.header Listing Locations

  %table.ui.celled.table
    %thead
      = link_to(new_location_path, class: 'ui labeled icon button', data: { modal: true }) do
        %i.plus.icon
        New Location
      %tr
        %th Name
        %th Zip code
        %th{:colspan => 3}

    %tbody
      - @locations.each do |location|
        %tr
          %td= location.name
          %td= location.zip_code
          %td
            = link_to(location) do
              %i.browser.icon.large
              Details
          %td
            = link_to(edit_location_path(location), data: { modal: true }) do
              %i.setting.icon.large
              Edit
          %td
            = link_to(location, method: :delete, data: { confirm: 'Are you sure?' }) do
              %i.trash.icon.large
              Delete
