!!! 5
%html
  %head
    = stylesheet_link_tag 'application', media: :all
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %title
      GddTurfTracker

    %body
      - if notice
        .ui.message.info
          = notice
      - if alert
        .ui.warning.message
          = alert

      = yield
